* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
    background-color: #fff;
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.topnav {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.links {
    overflow: hidden;
    width: 100%;
}

.links a {
    float: right;
    margin: 5px;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
}

.links a:hover {
    text-decoration: underline;
}

.links .logo {
    float: left;
    font-size: 25px;
    padding: 10px;
    color: white;
    margin-left: 20px;
    color: #000;
}

.topnav1 {
    overflow: hidden;
    background-color: #ddd;
}
  
.topnav1 a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 0px;
    width: 25%;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav1 a:hover {
    background-color: #fff;
    color: black;
}
  
.topnav1 a.active {
    background-color: #252994;
    color: white;
}

.train-ticket {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 80px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
}

.train-ticket h3 {
    background-color: #252994;
    color: white;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

input, select {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #111;
}

select {
    width: 229px;
}

table * {
    margin: 10px;
}

button {
    padding: 5px 8px;
    background-color: white;
    border: 0px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.holidays {
    background-color: #fff;
    text-align: center;
    padding: 4px;
}

.holidays h1 {
    margin: 40px;
}

.row {
    margin: 2%;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    border-radius: 20px;
  }

  .content img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .content h3 {
    margin: 0px;
    padding: 0px;
  }


.footer {
    background-color: #252994;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.footer a {
    color: yellow;
}

hr {
    color: rgba(0, 0, 0, 0.24);
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #252994;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 100px;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid rgba(0, 0, 0, 0);
    width: 20%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
